.panel {
    margin-right: 1em;
}

.single-number {
    width: 3em;
}

.few-numbers {
    width: 6em;
}

h2 {
    margin-bottom: 0.2em;
}

h2 a {
    color: #141414;
    text-decoration: none;
    border-bottom: dotted 1px #9d9d9d;
}

.disabled {
    cursor: not-allowed;
}

input:not(.manual)[type=submit] {
    display: none;
}

.example, .note {
    font-style: italic;
    font-size: smaller;
}

.error {
    color: darkred;
    background-color: rgba(250, 152, 145, 0.55);
    padding: 2px;
    margin: 2px;
}

h4 {
    margin: 0.5em 0 0.3em;
}

h5 {
    margin: 0.5em 0 0.3em;
}

.background {
    background-size: cover;
}