body {
    font-size: 16px;
    font-family: serif;
}

input, select, button {
    margin: 0;
    padding: 0;
}

select option:disabled {
    color: gray;
    font-style: italic;
}

input[type=number] {
    width: 5em;
}

input[type=submit], button {
    cursor: pointer;
}

.panel {
    margin-right: 0.3em;
}

h2 {
    margin: 0.3em 0 0.1em;
}

h4 {
    margin: 0.1em 0;
}

td .hint {
    padding-left: 0.3em;
}

a.inner {
    color: #1f1f1f;
    text-decoration: none;
}

.body-properties {
    white-space: nowrap;
}

.body-properties label {
    display: block;
}

.decreased {
    font-weight: bold;
    text-shadow: 1px 1px 3px #b34705;
}

.increased {
    font-weight: bold;
    text-shadow: 1px 1px 3px #4db322;
}

.changed {
    font-weight: bold;
    text-shadow: 1px 1px 3px #0089b3;
}

.line-sized {
    height: 1em;
}

.messages {
    margin: auto;
    display: block;
}

.info {
    margin: 1px;
    background-color: rgba(255, 165, 0, 0.4);
    color: darkred;
    font-size: smaller;
    font-style: italic;
    display: inline-block;
    padding: 1px 1em;
    border-radius: 2px;
}

.button, .btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: black;
    min-width: 1.8em;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: .2rem .5rem;
    line-height: 1.25;
    background-color: #eeeeee;
}

a.button:hover, a.btn:hover {
    text-decoration: none;
    text-shadow: none;
    background-color: #e2e2e2;
}

.cancel {
    background-color: rgba(211, 76, 4, 0.35);
    font-size: 12px;
}

.add {
    background-color: #dffddc;
}